<form name="reviewForm" class="form-horizontal" ng-submit="reviewFormCtrl.addReview(reviewForm, reviewFromCtrl.book)" accept-charset="utf-8">
    <section class="row well live-preview" ng-show="reviewFormCtrl.book.isbn">
        <book-cover book="reviewFormCtrl.book"></book-cover>
        <div class="col-sm-9">
            <h3>
                <a href="http://www.amazon.com/gp/product/{{reviewFormCtrl.book.isbn}}">
                    {{reviewFormCtrl.book.title || "Title of the book"}}
                </a>
            </h3>
            <cite class="text-muted">Written by {{reviewFormCtrl.book.author || "Author's name"}}</cite>
            
            <p>{{reviewFormCtrl.book.review || "No review yet."}}</p>
            
            <book-genres genres="reviewFormCtrl.book.genres"></book-genres>
        </div>
    </section>
    
    <div class="input-container">
        <fieldset class="form-group">
            <label for="title" class="col-sm-2 control-label">Title: </label>
            <span class="col-sm-9">
                <input type="text" class="form-control" id="title" ng-model="reviewFormCtrl.book.title"
                placeholder="Book Title">
            </span>
        </fieldset>
        
        <fieldset class="form-group">
            <label for="isbn" class="col-sm-2 control-label">ISBN: </label>
            <span class="col-sm-9">
                <input type="text" class="form-control" id="isbn" ng-model="reviewFormCtrl.book.isbn"
                placeholder="ISBN">
            </span>
        </fieldset>
        
        <fieldset class="form-group">
            <label for="author" class="col-sm-2 control-label">Author: </label>
            <span class="col-sm-9">
                <input type="text" class="form-control" id="author" ng-model="reviewFormCtrl.book.author"
                placeholder="Author">
            </span>
        </fieldset>
        
        <fieldset class="form-group">
            <label for="review" class="col-sm-2 control-label">Review: </label>
            <span class="col-sm-9">
                <textarea class="form-control" id="review" cols="30" rows="3" ng-model="reviewFormCtrl.book.review"
                placeholder="Book Review"></textarea>
            </span>
        </fieldset>
        
        <fieldset class="form-group">
            <label for="rating" class="col-sm-2 control-label">Rating: </label>
            <span class="col-sm-9">
                <select class="form-control" id="rating" value="5" ng-model="reviewFormCtrl.book.rating">
                    <option>5</option>
                    <option>4</option>
                    <option>3</option>
                    <option>2</option>
                    <option>1</option>
                </select>
            </span>
        </fieldset>
        
        <fieldset class="form-group">
            <label class="col-sm-2 control-label">Genre: </label>
            <div class="genre">
                <label ng-repeat="genre in genres" for="{{genre}}" class="genre-label form-control">
                    <input type="checkbox" name="genre" id="{{genre}}" ng-model="reviewFormCtrl.book.genres[genre]" />
                    {{genre}}
                </label>
            </div>
        </fieldset>

        <fieldset class="form-group">
            <span class="col-sm-9 col-sm-offset-2 button-from-hell">
                <button ng-click"" class="btn btn-primary">Save Review</button>
            </span>
            <span class="col-sm-9 col-sm-offset-2 button-from-hell">
                <button ng-click"" class="btn btn-danger">Cancel</button>
            </span>
        </fieldset>
    </div>
    
</form>